---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Jeffrey Ren">
  <main>
    <Header title="Jeffrey Ren" link="/" subtitle="Fullstack Engineer" description="I build enganging and accessible digital experiences"/>

	<About />
	<Projects />
  </main>

  <style></style>
</Layout>
