---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
---

<Layout title="Jeffrey Ren">
	<div class="min-h-screen max-w-screen-xl mx-auto">
		<div class="lg:flex">
			<Header title="Jeffrey Ren" link="/" subtitle="Fullstack Engineer" description="I build enganging and accessible digital experiences"/>
			<main id="Content"class="lg:my-24">
				<About />
				<Experience />
				<Projects />
			</main>
		</div>
	</div>


  <style>
  </style>
</Layout>
