---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Jeffrey Ren">
  <main>
    <Header title="Jeffrey Ren" link="/" subtitle="Fullstack Engineer" description="I build enganging and accessible digital experiences"/>
  </main>

  <style></style>
</Layout>
