---
import Layout from "../layouts/Layout.astro";
import ProjectsHeader from "../components/Projects-header.astro";

---

<Layout title="Jeffrey Ren Projects">
  <main class="pt-4 lg:pt-32 px-4 lg:px-8 max-w-screen-xl mx-auto">
    <ProjectsHeader>
        All Projects
    </ProjectsHeader>
  </main>

  <style></style>
</Layout>