---
import StickyHeader from "./Sticky-header.astro"
---

<section id="About">
    <StickyHeader>ABOUT</StickyHeader>
    <div class="mb-20 p-4">
        <p class="text-blue-600 mb-6">
            Hi Hi! Jeffrey Ren is the name and Fullstack Development is the game. We squash bugs, add new features, and build entire applications from the ground up.
        </p> 
        <p class="text-blue-600 mb-6">
            When not at my computer, you can find me at the gym, playing pickle ball, or petting my cats
        </p>
        <p class="text-cyan-400 mb-6">
            Nothing is hard, just a lot of hard work!
        </p>
    </div>
</section>