---
---

<section id="About">
    <div class="sticky">
        <h2 class="text-blue-100">ABOUT</h2>
    </div>
    <div>
        <p class="text-blue-600 mb-6">
            Hi Hi! My Name is Jeffrey Ren and I am a Fullstack Software Engineer.Let's make some cool stuff
        </p>
        <p class="text-blue-600 mb-6">
            Nothing is hard, just a lot of hard work!
        </p>
    </div>
</section>