---
import ProjectCard from "./Project-card.astro";

interface Project {
  title: string;
  link: string;
  description: string;
}

const projects = [
  {
    title: "Buffalo Bills",
    link: "https://shop.buffalobills.com/",
    description: "t4est",
  },
  {
    title: "Chicago Bulls",
    link: "https://shop.bulls.com/",
    description: "testttt",
  },
];
---

<section id="Projects">
  <div>
    <h2 class="text-blue-100 mb-4">PROJECTS</h2>
  </div>
  <div>
    {
      projects.map((project: Project) => (
        <ProjectCard
          title={project.title}
          link={project.link}
          description={project.description}
        />
      ))
    }
  </div>
</section>
